#hari {
    color: aqua;
    background-color: red;
    border: 2px dotted black;
    background-image: url(OIP.jpg);
    background-repeat: repeat-x;
    background-attachment: scroll;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    padding: 50px 50px 50px 50px;
    height: 500px;
    width: 500px;
    outline-color: blue;
    text-align: center;
    text-shadow: 10px 10px;
}

a:hover {
    color: black;
}

a:visited {
    color: brown;
}